body{    overflow-y: auto;}

/* start main-page (help-center ) */
.logged-in-widget{
    cursor: pointer;
}
.widget-info{
    background-color: #f3fbf7;
    max-width: 100%;
    padding: 14px;
    margin: 35px 0;
    border-radius: 3px;
    overflow-wrap: break-word;
    border-right: 5px solid #5ac891;
}
.widget-info.widget-important{
    background-color: #fef7ed;
    border-right: 5px solid #f3a12c;
}
.widget .title{font-weight: bold}
.app-content{
    border-bottom: 1px solid #f8f2f2;
    box-shadow: 2px 2px 6px #e7dede;
}
.navbar.intro-navbar{
    padding: 16px 30px 20px;
    border-bottom: 1px solid #221f1f38;
    box-shadow: 2px 2px 5px #2622222b;}
.navbar.intro-navbar-single-article{
    padding:15px 0;
}
.navbar .logo{
    height: 32px;
    width: auto;
    display: block;float: left;
    margin-top: 8px;
}
.logo.search-center-logo{
    height: 45px;
    width: 80px;
    margin-bottom: 20px;
}
.navbar.intro-navbar .container{height: 50px !important;}  
.nav-content{    font-size: 1.4rem;}

.articles-search-header{
    background: url('../svg/search_background.svg');
    padding: 64px 50px 65px;
    text-align: center;
    background-position: top;
    background-repeat: no-repeat;
}

.search-bar{
    font-family: Roboto,Helvetica Neue,sans-serif;
    flex: 1 1 auto;
    max-width: 850px;margin: auto;
}
.search-bar h1{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #1967d2;
}
@media(max-width:768px){
    .navbar.intro-navbar{padding: 2px 30px 12px;}
    .nav-content{    font-size: 1.4rem;
        text-align: center;
        width: 100%;}
    .inner-nav-content{    width: 50%;float: right;text-align: right}
    .mytickets.login-t{width: 100%;text-align: center}
    .mytickets.login-t a{       font-size: 0.8rem !important;}
    .mytickets.login-t a#login-link{display: none}
    .mytickets.xs-login-t{display: block !important}
    .mytickets.xs-login-t a{padding: 6px 12px !important;}
    .articles-search-header{background: none}
}
.search-bar h5{
    margin-bottom: 1.5rem;
}
.search-bar .search-article{
    display: block;
    height: 50px;
    max-height: 50px;
    border-radius: 9px;
    font-size: 1.1rem;
    padding: 0 59px;    border: none;
    width: calc(100% - 40px);
    margin: 0 auto;
    transition: background-color .3s;
    box-shadow: 0 1px 1px 0 rgba(192, 178, 178, 0.2), 0 1px 0px 0 rgba(155, 145, 145, 0.14), 0 1px 1px 1px rgba(110, 104, 104, 0.12)

}
.search-bar .search-article:focus{
    box-shadow: 0 1px 23px 0 rgba(192, 178, 178, 0.2), 0 1px 1px 0 rgba(155, 145, 145, 0.14), 0 3px 11px 2px rgba(112, 106, 106, 0.09)
}
form#search-articles{
    max-width: 530px;
    margin: auto;   

}
.search-bar #search-icon{
    height: 18px;
    width: 18px;
    position: relative;
    float: left;
    top: -35px;
    left: 40px;
    opacity: 0.7;
}
@media(max-width:741px){
    .articles-search-header{
        padding: 17px 5px 33px;
    }
    .articles-search-header .container{
        padding: 0;
    margin: 0;
    max-width: 100%;
    }
    #search-title{    font-size:0.9rem;}
    #inner-search-title{font-size: 0.9rem;}
    .search-bar h1{display: none}
     
}

.category-content{
    padding: 40px 20px;
}
.category-name{font-weight: 300;
    color: #43484d;    margin-bottom: 15px;}
.category-name>a{color:inherit;text-decoration: none}
.child-category-name{
    font-weight: 400;
    font-size: 1.3rem;}
.child-category-name>a{    color: #43484d;}
.category >.row{margin-bottom: 20px}
.articles-list li{    margin: 6px auto;}
.articles-list a{
    
    color: #5e6977;
    font-size: 0.9rem;
}
.articles-list a:hover{
    color: #34ad00;
    text-decoration: underline;

}

.articles-list a img{
    height: 20px;
    width: 20px;    opacity: 0.7;
    margin-right: 5px;
}
/* end */

/* footer style */

.myfooter{
    text-align: right;
    color: rgba(0,0,0,.54);
    border-top: 1px solid #e1d6d6;
    padding: 3% 0;
    max-width: 80%;
    margin: auto;
    background: #fff;
}


/* end */

/* single article style */
.articles-search-header-single-article{
    padding: 5px 0 0; background: #FCFCFC;
    padding: 10px 0;border: 1px solid #e0e0e0;
 }
 .articles-search-header-single-article .container>.row{
     margin-right: 0;margin-left: 0;
 }
 
.search-bar-single-article{
    padding-top: 15px;
}
@media(min-width:1200px){
    .search-bar-single-article{
        max-width: 665px;
    }
    .articles-search-header-single-article>.container{max-width: 1190px;}
    .articles-search-header-single-article .container>.row{
        margin-right: 0;margin-left: 26px;
    }
    
}
@media(min-width:960px) and (max-width:1199px){
    .search-bar-single-article{
        max-width: 665px;
    }
    
}
@media(min-width:769px) and (max-width:1200px){
     .search-bar-single-article{
         max-width: 425px !important;
     }
     .search-bar-search-article{
        max-width: 400px !important;
    } 

     
}
@media(max-width:741px){
   .articles-search-header-single-article>.container>.row{
       margin-right: 0;
   }

}
.content-single-article{
    border-top: 1px solid #e0e0e0;
}
.left-side-scroll-xs{text-align: right;
    
    position:  fixed;
    top:  0;
    left:  -65%;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 2px 1px #eae7e7;
    width: 65%;
    padding:  20px;
    font-size: 9px !important; z-index: 999;
    height: 100%;overflow-y: scroll

}
.hide-left-side-scroll-xs{
    left: -65% !important;
    position:  fixed;
    top:  0;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 2px 1px #eae7e7;
    width: 65%;
    padding:  20px;
    font-size: 9px !important; z-index: 999;
    height: 100%;overflow-y: scroll
}
.right-side{background-color: #fff;    text-align: right;}
@media(min-width:650px){
.content-single-article{
  margin-bottom: 30px;text-align: right;
    
}
.left-side-scroll{
    width:23%;padding-right: 15px;

    max-height: 430px;
    overflow-y: scroll;
    float: right;
    text-align: right;
}  
.left-side-scroll-xs{
    max-height: 430px;
    overflow-y: scroll;

}   

.right-side{
    width:77%;float: left;padding-left: 25px;padding-right: 25px;
    border-right:  1px solid #e0e0e0;

}
}
@media(max-width:649px){
    .left-side-scroll{display: none}
    .myfooter{font-size: 13px;
        font-weight: 500;
    text-align: center}
}
@media(min-width:650px){
    .left-side-scroll-xs{display: none}
}
.right-side{padding: 20px;padding-bottom: 7% !important;border-left:1px solid #e0e0e0}
.myfooter-single-article{
    clear: both;
    width: 100%;
}

.title-article-link{
    
    padding-top: 35px;
    padding-left:  0;
    text-align: right;
}
@media(max-width:786px){
    .title-article-link{display: none}
    .articles-search-header-single-article{padding: 0;border:none}
}
#category-title{
    font-size: 16px;
    margin-left: -5px;
}
.left-side-scroll,.right-side{padding:20px}

.left-side-scroll ul li{margin-bottom: 6px}
.left-side-scroll-xs ul li{margin-bottom: 6px}
.left-side-scroll ul li a{
    font-size: 13px;
    color: #5e6977;
    text-decoration: none
}
.active-article{    color: #34ad00 !important;}
.left-side-scroll-xs ul li a{
    font-size: 13px;
    color: #5e6977;
    text-decoration: none
}

.xs-article-menu-icon{
    
    color: #fff;
    background: #2eb715;
    padding: 8px 10px;
    border-radius: 50%;
    box-shadow: 1px 2px #cdc3c3;
    float:  right;
    position: fixed;
    left: 2%;/*67%;*/
    z-index: 9999;cursor: pointer;
    bottom: 2px;

}
@media(min-width:650px){
    .xs-article-menu-icon{display: none}
}

/* right-side content */
#article-title{
    font-size: 28px;
    margin-bottom: 2%;
}
.right-side .note-about-article>i{    margin: 0 5px;}
.right-side .note-about-article2>i{    margin: 0 5px;}
.right-side .note-about-article:first-of-type{
    margin-left:2%;
    padding: 3px 7px;
    border: 1px solid #34AD00;
    border-radius: 23px;
    color: #34AD00;
    cursor: pointer;
}
.right-side .note-about-article2{
    margin-left:2%;
    padding: 3px 7px;
    border: 1px solid red;
    border-radius: 23px;
    color: red;
    cursor: pointer;
}
@media(max-width:360px){
.right-side{font-size: 13px;padding-bottom: 18% !important}
}

/* end */

/* add ticket style */
.note-about-add-ticket{
    color: #34AD00;font-size: 26px;
    margin-bottom: 1%;
}
.submit-ticket{    font-size: 25px;}
.add-ticket{    padding-top: 15px;padding-bottom: 7%;    text-align: right;}
.add-ticket form{    max-width: 670px;margin-bottom: 2%}
.add-ticket #submit{cursor: pointer;
background:#34AD00;padding:1%;color:#fff;
border-radius: 3px;box-shadow: 2px 2px #bbb8b8

}
.mar-top-lab{margin-top: 5px}
.mytickets a{
    color:#fff;text-decoration:none;font-size: 16px;
    margin-left: 20px;
}
.mytickets.login-t a{
    color: #322e2e;
    font-size: 16px;
    margin-left: 10px;
}
.mytickets.login-t a:hover {
    text-decoration: underline;
}
.mytickets.xs-login-t {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-left: 16px;
}
.mytickets.login-t a#login-link {
    padding: 8px 18px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    color: #007BFF;
    border: 1px solid #007BFF;
}
.mytickets.login-t a#login-link:hover{ color: #fff;
    background-color: #007BFF;text-decoration: none}

.mytickets.xs-login-t a#login-link {
    padding: 8px 18px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    color: #007BFF;
    /* border: 1px solid #007BFF; */
}
.mytickets.xs-login-t a#login-link:hover {
    color: #fff;text-decoration: none;
    background-color: #007BFF;
}
 @media(max-width:768px){
    .mytickets.login-t a#login-link {
        display: none;
    }
    .mytickets.xs-login-t {
        display: block !important;
    }
    .mytickets.xs-login-t a#login-link {
        padding: 8px 18px;
        text-align: center;
        background: #fff;margin-left: -12px;
        border-radius: 5px;
        color: #007BFF;
        border: 1px solid #007BFF;
    }
    .mytickets.xs-login-t a {
        padding: 6px 12px !important;
    }
.mytickets a{font-size: 15px;}
span.settings{display: inline-block !important;}
.logo{
    height: 25px !important;}
.add-ticket{padding-bottom: 30%;}
.logged-in-widget{display: none}
 }
 span.settings{display: none;margin-left: 8px;cursor:pointer}
 span.settings i{
     
    position:  relative;
    font-size: 23px;
    top:  3px;

 }
 .hide-dropdown{display: none}
 .dropdown-auth{  z-index: 9999;
    color: #6a6a6a;
    background: #fff;
    position: absolute;
    float: left;
    margin-top: 5px;
    margin-right: 0;    width: 230px;
    padding: 1% 1% 0;
    box-shadow: 0 1px 4px #312d2d52;
 }
 .dropdown-auth ul li{    margin: 3% auto;    text-align: right;}
 .dropdown-auth ul li:last-child{padding-top: 2%;
    border-top: 1px solid #6a6a6a;}
 .dropdown-auth i{font-size: 20px;}
 .dropdown-auth a{color:#6a6a6a !important;    margin-right: 16px;}
 .xs-dropdown-auth{    z-index: 9999;
    color: #6a6a6a;
    background: #fff;
    position: absolute;
    float: right;
    margin-top: 5px;
    margin-right: -100px;
    width: 230px;
    padding: 1% 1% 0;   box-shadow: 0 1px 4px #312d2d52;
 }
 .xs-dropdown-auth ul li{    margin: 3% auto;  text-align: right;}
 .xs-dropdown-auth ul li:last-child{padding-top: 2%;
    border-top: 1px solid #6a6a6a;}
 .xs-dropdown-auth i{font-size: 20px;}
 .xs-dropdown-auth a{color:#6a6a6a !important;    margin-right: 16px;}
 @media(min-width:789px){
    .xs-dropdown-auth{display: none}
}
 @media(max-width:768px){
     .dropdown-auth{display: none}
    .xs-dropdown-auth{
        float: left;
        margin-right: -166px;        width: 190px !important;
    }
    
 }

/*end */ 

/* my tickets style */
.newTicket{margin-bottom: 20px}
.newTicket a{
    padding: 5px;
    border: 1px solid #27b715;
    color: #fff;
    background: #27b715;
    border-radius: 5px;
    text-decoration: none   ; 
}
.ticket-title{font-weight: bold;margin-bottom: 5px;
    color: #3c3636;}
.ticket-content{margin-bottom: 5px}
.tiket-created-at{margin-bottom: 5px}
.ticket-category{margin-top: 1%}
.ticket-category>span{
    background: #d7e0e4;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;
}

/*end  */
/* single category style */
#article-title span{
    float: left;
    margin-right: 20px;
}
#article-title span select{
    float: left;
    max-width: 170px;    margin-top: 5px;
}
.right-side-categories{
       padding: 25px 50px;
}
.hidden-filter{
    float: left;
    position: relative;
    top: -61px;
    display: none}
@media(max-width:650px){
   .right-side-categories{
       padding: 5px;
} 
.right-side-categories {
    padding: 5px;
} 
#article-title span select{display: none}

.hidden-filter{display: inline-block}
#article-title{
    width:40%;
}
}
@media(min-width:497px) and (max-width:650px){
  .hidden-filter{    top: -45px;}  
}
@media(max-width:275px){
    .hidden-filter select{    font-size: 12px;
        max-width: 135px;}
}
.article-in-category{text-decoration: none}.article-in-category:hover{text-decoration: none}
.article-in-category img{
    height: 22px;
    opacity: 0.9;
    float: left;
    margin-right: 5px;
}
.article-in-category .description{
    padding-left: 55px;
}
.article-in-category .description .title{    color: #5e6977;
    font-size: 1.0rem;
    font-weight: 500;}
.article-in-category .description .body{
    color: rgba(0,0,0,.54);font-size: 0.9rem;max-height: 46px;
    overflow: hidden;
}



/*end */

/* search page style */
.height-search-bar{
    
    background:  #fff;
    padding:  1%;
    padding-bottom: 4%;
    border-radius:  5px;

}
/*
 paddingTop: '5%',
            marginTop: '-2%',
            borderRadius:  '5px',
            boxShadow: '0px 4px #3d32326b' 


*/
.search-result{
    background: #fff;
    padding-top: 0%;
    margin-top: -2%;
    border-radius: 5px;
    box-shadow: 0px 4px 7px #3d32326b;
    display: block;
    max-width: 490px;
    margin: auto;
    width: calc(100% - 40px);
    display: none;

}
#see-all-result{    padding-left: 2%;}
.search-result .title{

    color: #5e6977;
    font-size: 1.0rem;
    font-weight: 500;

}
.search-result .body{
    
    color: rgba(0,0,0,.54);
    font-size: 0.9rem;
    max-height: 46px;
    overflow: hidden;

}
.article-tags{padding-top: 4px}
.article-tags span{
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    font-size: 0.9rem;
    border-radius: 4px;
    color: rgba(0,0,0,.54);
}
/*end */



/* added menu */
.nav-scroller{
    height: 2.5rem;
    overflow-y: hidden;
    background: #34393fed;
    color: #fff;
    z-index: 2;
    margin-bottom: 4%;
    box-shadow: 3px 3px 5px #b8b1b1;
}
.nav-scroller a{color: inherit;
    font-size: 0.9rem;}
.nav-scroller a:hover{color: inherit}
.bg-light{    background-color: #e9ecef !important;
    color: #42464c;}
@media(max-width:768px){
    .nav-link{padding: 0.5rem 0.7rem !important}
}

.nav.nav-underline a:hover{color:#007bff}
.navbar-toggler{
    height: 30px;
    margin-top: 4px;
    position: absolute;
    right:  10px;
    display: none;
}

.navbar-toggler-icon i{
    
    color: #9A9DA0;
    position: relative;
    top: 5px;

}

.nav-full{position: fixed;
    right: 0;
    width: 0;display: none;text-align: right;
}
.nav-full>.nav.nav-underline{
    display: block;
    background: #34393fed;
    width: 100%;
    height: 10%;
    margin-top: -4%;min-height: 500px;
    color: #fff;    padding: 1% 0 3%;
}
.nav-full>.nav.nav-underline a{
    color: #fff
}
.nav-full>.nav.nav-underline a:hover{
    color: #007bff;
}
@media(max-width:600px){
.navbar-toggler{display: inline-block !important}
.nav-scroller a{display: none}
.nav-full{display: inline-block}
}

.fade {
    opacity: 1;
    transition: opacity 0.15s linear;
    background: #7e75752e;
}
#languagebtn > div > div{
    width: 400px;
    margin: auto;
}
#languagebtn > div > div > div.modal-header > h5{color: #515365;font-size: 17px;}
#languagebtn > div > div > div.modal-body > h5{
    direction: ltr;
    font-family: 'Noto Kufi Arabic,Open sans-serif';text-align: left;
    padding: 1px 0 2px;
    width:  95%;
    margin:  auto;
    border-radius:  3px;
cursor: pointer;    padding: 2% 3%;
background: #fff;
box-shadow: 0 1px 1px 1px #07173438;
}
#languagebtn > div > div > div.modal-footer > h5 > button{
    font-size: 17px;
    color: #545666;
}
#languagebtn > div > div > div.modal-footer{background: #fefefea1;}
#languagebtn > div > div > div.modal-body{
    background: #e4ecf661;    padding: 6% 1%;
}
#languagebtn > div > div > div.modal-body > h5 a{
    color: #9d9999;
    text-decoration: none;
}
#languagebtn > div > div > div.modal-body > h5 > a > img{
    height: 25px;
    width: 25px;
    margin-right: 2%;
    margin-top: -7px;
}
#languagebtn > div > div > div.modal-body > h5 > a > span{
    color: #1e1a1a;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
body > strong > section > div > div > div > div.col-xs-12.col-md-3 > div:nth-child(3) > a{
    text-decoration: none
}
#delete-icon{
    position: relative;
    float: right;
    right: 36px;
    top: -34px;
    height: 18px;
    width: 15px;
    opacity: 0.8;
    cursor: pointer;display: none;
}